/* Import npm packages CSS */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'admin-lte/dist/css/adminlte.min.css';
@import 'select2/dist/css/select2.min.css';
@import 'select2-bootstrap-5-theme/dist/select2-bootstrap-5-theme.min.css';
@import 'datatables.net-bs5/css/dataTables.bootstrap5.min.css';
@import 'sweetalert2/dist/sweetalert2.min.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';

/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

* {
    font-size: 14px;
}
